.config/raycast
.config/skhd/.DS_Store
.config/starship/.DS_Store
.config/zed/prompts/prompts-library-db.0.mdb
.config/opencode/.DS_Store
.config/fish
.config/expressvpn
.config/com.strapi
.config/btop
.config/configstore/update-notifier-@google
.config/ghostty/.DS_Store
.config/github-copilot
.config/ngrok
